.zerg_icon { background: url('/images/race_icons.png') -5px -60px no-repeat; }
.terran_icon { background: url('/images/race_icons.png') -5px -3px no-repeat; }
.protoss_icon { background: url('/images/race_icons.png') -5px -115px no-repeat; }
.random_icon { background: url('/images/race_icons.png') -5px -168px no-repeat; }
