/* Generic */
body { font-family: helvetica, arial, sans-serif; background-color: #999; color: #fff; }
em { font-style: italic; color: #999; font-size: 0.8em; }
a { text-decoration: none; color: #f90; }
a:hover { color: #fb0; }

/* Flash */
.flash { margin: 1em auto; }
.flash div { padding: 0.7em; border-radius: 0.5em; color: #fff; }
.flash .alert { background-color: #a00; }
.flash .notice { background-color: #f90; }

dl { overflow: hidden; }
dl dt:nth-of-type(2n), dl dd:nth-of-type(2n) { background-color: #333; }
dl dt:nth-of-type(2n+1), dl dd:nth-of-type(2n+1) { background-color: #222; }
dl dt, dl dd { width: 100px; height: 1.4em; display: block; float: left; padding: 6px 24px 0px 6px; }
dl dd span { color: #666; }
dt { clear: left; }

p { background-color: #222; padding: 6px 24px 6px 6px; }

/* Headers */
header { padding: 6px 24px 6px 0; }
h1 { font-size: 3em; font-weight: bold; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; font-weight: bold; border-bottom: 1px solid #a00; padding: 10px 0 0 0; }

nav { padding: 6px 24px 6px 0; }

.user h1 { font-size: 2.6em; font-weight: normal; }

.season h1 { font-size: 2.6em; font-weight: normal; }

.round h1 { font-size: 2.6em; font-weight: normal; }

.match h1 { font-size: 2.6em; font-weight: normal; }
.match h3 { background-color: #222; margin: 1em 0 0 0; padding-top: 6px; }

/* Content Sections */
#content { background-color: #444; width: 936px; margin: 0 auto; padding: 32px; }

/* Tables */
table tr th, table tr td { padding: 6px 24px 6px 6px; white-space: nowrap; }
table tr th { background-color: #000; color: #aaa; text-align: left; font-weight: bold; border-bottom: 1px dashed #333; }
table tr td { color: #fff; }
table tr.group th, table tr.season th { font-size: 1.2em; border-bottom: none; padding-top: 24px; color: #fff; }

/* Zebra */
table tbody tr:nth-child(2n) td { background-color: #333; }
table tbody tr:nth-child(2n+1) td { background-color: #222; }

.zerg_icon { background: url('/images/race_icons.png') -5px -60px no-repeat; }
.terran_icon { background: url('/images/race_icons.png') -5px -3px no-repeat; }
.protoss_icon { background: url('/images/race_icons.png') -5px -115px no-repeat; }
.random_icon { background: url('/images/race_icons.png') -5px -168px no-repeat; }

span.not_played_yet { color: #999; font-style: italic; font-size: 0.8em;
                      /* text-transform: lowercase; */
                      line-height: 1.3em; vertical-align: middle; }
span.bye { font-size: 0.9em; color: #aaa; }
span.won { font-weight: bold; }
span.lost { text-decoration: line-through; }
span.race { display: inline-block; padding: 1px 0 2px 23px; }

/* Match */
.match .players { background-color: #000; overflow: hidden; }
.match .players img { display: block; float: left; }
.match .players .player { font-size: 30px; line-height: 125px; float: left; }
.match .players .vs { font-size: 40px; line-height: 125px; color: #666; float: left; margin: 0 20px; }

/* Account Page */
img#race_preference_image { float: left; margin: 0 10px 10px 0; }
